<% include layout/head %>

<% include layout/nav %>

</header>

<p class="e404">404</p>

<h1 class="e404-title">Oops, page introuvable!</h1>

<p class="e404-description">
  La page que vous recherchez semble avoir été déplacée, supprimée ou n'existe pas.
</p>


<% include layout/footer %>