<% include layout/head %>

<% include layout/nav %>

</header>

<section class="categorie-description">
	<img src="/public/images/categories/acier.jpg" alt="Menuiseries Bois">
	<article>
		<h1>L'Acier</h1>

		<p>
		  Nous vous proposons des portes de garages et portails en ACIER, du standard au sur-mesure, et avec une garantie fabricant pouvant aller jusqu'à 7 ans.
		</p>

		<p>
		  Possibilité de motorisation avec commande à distance, personnalisation des portes.
		</p>

		<p>
		  Détails : Portes de garage basculantes, sectionnelles et portes de services.
		</p>
	</article>
</section>

<section class="categorie-specifications">
	<article>
		<i class="fa fa-2x fa-paint-brush"></i>
		<h3>Coloris</h3>
		<p>
			Toute la <a href="http://www.toutes-les-couleurs.com/nuancier-ral.php" target="_blank">palette RAL</a>.
		</p>
	</article>
</section>


<section class="categorie-galeries">
	<h3 class="categorie-titre">Réalisations</h3>
	<div class="categorie-sepa"></div>

	<article>
		<a href="/acier/portes-garage">
			<img src="/public/images/sous-categories/acier-pg.jpg" alt="Portes de Garage Acier">
			<p>Portes de Garage</p>
		</a>

		<a href="/acier/portails">
			<img src="/public/images/sous-categories/acier-po.jpg" alt="Portails Acier">
			<p>Portails</p>
		</a>
	</article>
</section>


<section class="partenaires">
	<h3 class="categorie-titre">Fabricant</h3>
	<div class="categorie-sepa"></div>
	<section class="fournisseurs">
		<a href="http://www.la-toulousaine.com/fr/" target="_blank"><img src="public/images/logos/la-toulousaine-logo.png" alt="La_Toulousaine_fabricant_acier"></a>
	</section>
</section>

<% include layout/footer %>