<% include layout/head %>

<% include layout/nav %>

</header>


<section class="categorie-description">
  <img src="/public/images/categories/alu.jpg" alt="Menuiseries Bois">

  <article>
    <h1>L'Aluminium</h1>

    <p>
      Nous vous proposons des menuiseries et volets ALU sur-mesure, avec vitrage isolant et une garantie fabricant pouvant aller jusqu'à 15 ans.
    </p>

    <p>
      Nos volets roulants peuvent répondre à tous types de cas de figure, avec des lames à isolation thermique renforcée ouvrant le droit au crédit d'impôt.
    </p>

    <p>
      Tous types de pose, en rénovation comme en neuf, avec une finition intérieure et extérieure soignée, étanchéité dans le respect des normes en vigueur.
    </p>

    <p>
    Tous nos produits d'isolation entrent dans le cadre du crédit d'impôt et notre qualification RGE nous permet de vous faire bénéficier des aides de l'état à la rénovation énergétique.
    </p>

    <p>
      Détails : Portes d'entrée, fenêtres, coulissants, portails et volets
    </p>
  </article>
</section>

<section class="categorie-specifications">
  <article>
    <i class="fa fa-2x fa-columns"></i>
    <h3>Type de vitrage</h3>
    <p>Double vitrage isolant de 24 à 28 mm, anti-effraction, phonique et décoratif</p>
  </article>

  <article>
    <i class="fa fa-2x fa-paint-brush"></i>
    <h3>Coloris</h3>
    <p>14 couleurs standard + toute la <a href="http://www.toutes-les-couleurs.com/nuancier-ral.php" target="_blank">palette RAL</a> en Option</p>
  </article>

  <article>
    <i class="fa fa-2x fa-object-group"></i>
    <h3>Formes</h3>
    <p>Découvrez toutes les formes disponibles</p>
    <div class="plaquette">
      <a href="javascript:void(0)" data-src="/public/images/categories/plaquette-formes.jpg"><i class="fa fa-file-image-o"></i> Plaquette formes</a>
    </div>
  </article>
</section>

<section class="categorie-galeries">
  <h3 class="categorie-titre">Réalisations</h3>
  <div class="categorie-sepa"></div>
  
  <article>
    <a href="/alu/baies-vitrees">
      <img src="/public/images/sous-categories/alu-bv.jpg" alt="Baies Vitrées Alu">
      <p>Baies Vitrées</p>
    </a>
    
    <a href="/alu/portes-entree">
      <img src="/public/images/sous-categories/alu-p.jpg" alt="Portes d'entrée Alu">
      <p>Portes d'entrée</p>
    </a>
    
    <a href="/alu/volets">
      <img src="/public/images/sous-categories/alu-v.jpg" alt="Volets Alu">
      <p>Volets</p>
    </a>
    
    <a href="/alu/portes-garage">
      <img src="/public/images/sous-categories/alu-pg.jpg" alt="Portes de Garage Alu">
      <p>Portes de Garage</p>
    </a>
  </article>
</section>

<section class="partenaires">
  <h3 class="categorie-titre">Fabricants</h3>
  <div class="categorie-sepa"></div>
  <section class="fournisseurs">
    <a href="http://www.profalux.com/" target="_blank"><img src="public/images/logos/profalux.png" alt="Profalux_fabricant_alu"></a>
  	<a href="http://www.poralumenuiseries.com/" target="_blank"><img src="public/images/logos/logo-poralu.png" alt="PoraluMenuiserie_fabricant_alu"></a>
  </section>
</section>

<% include layout/footer %>