<% include layout/head %>

<% include layout/nav %>

</header>

<section class="avant-apres">
	<article>
		<h1>Baies vitrées en aluminium</h1>
		<div class="galerie">
			<img src="/public/images/avant-apres/alu-bv-01.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-bv-02.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-bv-03.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-bv-04.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-bv-05.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-bv-06.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-bv-07.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-bv-08.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-bv-09.jpg" class="large" alt="Avant-Après">
		</div>

		<a href="/alu" class="retour_cat">Retour à la catégorie "Alu"</a>
	</article>
</section>

<% include layout/footer %>