<% include layout/head %>

<% include layout/nav %>

</header>

<section class="categorie-description">
	<img src="/public/images/categories/bois.jpg" alt="Menuiseries Bois">

	<article>
		<h1>Le Bois</h1>
		
		<p>
		  Nous vous proposons des menuiseries BOIS sur-mesure, avec vitrage isolant et une garantie fabricant de 10 ans.
		</p>

		<p>
		  Tous types de pose, en rénovation comme en neuf, avec une finition intérieure et extérieure soignée, étanchéité dans le respect des normes en vigueur.
		</p>

		<p>
		  Tous nos produits d'isolation entrent dans le cadre du crédit d'impôt et notre qualification RGE nous permet de vous faire bénéficier des aides de l'état à la rénovation énergétique.
		</p>

		<p>
		  Détails : Portes d'entrée, fenêtres, coulissants et volets.
		</p>
	</article>
</section>

<section class="categorie-specifications">
	<article>
		<i class="fa fa-2x fa-tree"></i>
		<h3>Essences de bois</h3>
		<p>Exotique, Mélèze, Pin sylvestre et Chêne (tous issus de forêts durablement gérées)</p>
	</article>

	<article>
		<i class="fa fa-2x fa-paint-brush"></i>
	  	<h3>Type de finition</h3>
	  	<p>Toute la <a href="http://www.toutes-les-couleurs.com/nuancier-ral.php" target="_blank">palette RAL</a> et Lasure toutes teintes</p>
	</article>

	<article>
		<i class="fa fa-2x fa-columns"></i>
	  	<h3>Type de vitrage</h3>
	  	<p>Double vitrage isolant de 24 à 28 mm, anti-effraction, phonique, décoratif</p>
	</article>

	<article>
		<i class="fa fa-2x fa-object-group"></i>
		<h3>Formes</h3>
	  	<p>Découvrez toutes les formes disponibles</p>
	    <div class="plaquette">
	      <a href="javascript:void(0)" data-src="/public/images/categories/plaquette-formes.jpg"><i class="fa fa-file-image-o"></i> Plaquette formes</a>
	    </div>
	</article>
</section>

<section class="categorie-galeries">
	<h3 class="categorie-titre">Réalisations</h3>
	<div class="categorie-sepa"></div>
	
	<article>
		<a href="/bois/fenetres">
			<img src="/public/images/sous-categories/bois-f.jpg" alt="Fenêtres Bois">
			<p>Fenêtres</p>
		</a>
  
		<a href="/bois/portes">
			<img src="/public/images/sous-categories/bois-p.jpg" alt="Portes Bois">
			<p>Portes</p>
		</a>

		<a href="/bois/volets">
			<img src="/public/images/sous-categories/bois-v.jpg" alt="Volets Bois">
			<p>Volets</p>
		</a>
	</article>
</section>

<section class="partenaires">
	<h3 class="categorie-titre">Fabricants</h3>
	<div class="categorie-sepa"></div>
	<section class="fournisseurs">
		<a href="#"><img src="public/images/logos/lacombre.jpg" alt="Lacombre_fabricant_bois"></a>
		<a href="http://www.pasquet.fr/"" target="_blank"><img src="public/images/logos/logo_pasquet.png" alt="Pasquet_fabricant_bois"></a>
		<a href="http://www.poralumenuiseries.com/" target="_blank"><img src="public/images/logos/logo-poralu.png" alt="PoraluMenuiserie_fabricant_pvc"></a>
	</section>
</section>

<% include layout/footer %>