<% include layout/head %>

<% include layout/nav %>

</header>

<p class="contact-description">Pour toutes vos questions, demandes particulières et renseignements, n’hésitez pas à nous contacter :</p>

<form action="/contact" method="POST" id="formulaire-contact">

	<div class="ligne-formulaire">
		<label for="nom">Nom</label>	
    <input type="text" name="nom">
	</div>

	<div class="ligne-formulaire">
		<label for="prenom">Prénom</label>	
    <input type="text" name="prenom">
	</div>

	<div class="ligne-formulaire">
		<label for="email">Email</label>	
    <input type="email" name="email">
	</div>

	<div class="ligne-formulaire">
		<label for="message">Message</label>	
    <textarea rows="6" name="message"></textarea>
	</div>

	<div class="ligne-bouton">
		<input type="submit" value="Envoyer" class="bouton-formulaire">
	</div>

</form>

<% include layout/footer %>