<% include layout/head %>

<% include layout/nav %>

</header>

<section class="avant-apres">
	<article>
		<h1>Fenêtres et portes-fenêtres en PVC</h1>
		<div class="galerie">
			<img src="/public/images/avant-apres/pvc-f-01.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-f-02.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-f-03.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-f-04.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-f-05.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-f-06.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-f-07.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-f-08.jpg" class="large" alt="Avant-Après">
		</div>

		<a href="/pvc" class="retour_cat">Retour à la catégorie "PVC"</a>
	</article>
</section>

<% include layout/footer %>