<% include layout/head %>
  
<% include layout/nav %>

</header>

<div class="owl-carousel">
  <img src="/public/images/carousel/alu.jpg" class="img_carousel" alt="Rénov' Fermetures">
  <img src="/public/images/carousel/bois.jpg" class="img_carousel" alt="Rénov' Fermetures">
  <img src="/public/images/carousel/pvc.jpg" class="img_carousel" alt="Rénov' Fermetures">
  <img src="/public/images/carousel/acier-po.jpg" class="img_carousel" alt="Rénov' Fermetures">
  <img src="/public/images/carousel/alu-bv-2.jpg" class="img_carousel" alt="Rénov' Fermetures">
  <img src="/public/images/carousel/alu-bv.jpg" class="img_carousel" alt="Rénov' Fermetures">
  <img src="/public/images/carousel/bois-p.jpg" class="img_carousel" alt="Rénov' Fermetures">
</div>

<section class="description">
  <p>
    Rénov' Fermetures, entreprise RGE, implantée à Largentière dans l'Ardèche, vous propose la fourniture et la pose de toutes vos menuiseries au sens large de l'activité.
  </p>

  <p>
    Spécialistes de la rénovation et de la réhabilitation de l'habitat, nous intervenons pour la pose de fenêtres, volets battants, volets roulants, portes, portes de garage et stores.
  </p>

  <p>
    Nous vous proposons différents types de matériaux, Bois, PVC, Alu et Acier et toujours sur-mesure. Nous mettons à votre disposition notre savoir-faire avec la garantie d'un travail sérieux et de qualité.
  </p>
  
  <p>
    Vous aurez toujours le même interlocuteur qui saura vous écouter et vous conseiller. Découvrez sur le site l'étendue de notre savoir-faire.
  </p>  
</section>

<section class="labels label_rge">
  <div class="label-logo">
    <img src="/public/images/logos/logo_rge.jpg" alt="Labelisée RGE Eco Artisan, Reconnu Garant de l'Environnement">
  </div>
  <div class="label-description">
    <h3>Rénov' Fermetures est labellisée <a href="http://www.developpement-durable.gouv.fr/La-mention-RGE-Reconnu-Garant-de-l.html" target="_blank">RGE Eco Artisan</a></h3>
    <p>
      Cette qualification permet à tous les clients particuliers d'obtenir (sous conditions d'éligibilité) le crédit d’impôt et le prêt à taux zéro.
    </p>
  </div>
</section>
<section class="labels label_qualibat">
  <div class="label-logo">
    <img src="/public/images/logos/logo_qualibat.jpg" alt="Labelisée RGE Qualibat, Reconnu Garant de l'Environnement">
  </div>
  <div class="label-description">
    <h3>Rénov' Fermetures est labellisée <a href="http://www.qualibat.com/" target="_blank">RGE Qualibat</a></h3>
    <p>
      Gage de sérieux et de qualité pour vos travaux : la qualification est synonyme de compétence technique, la pyramide bleue en est le signe distinctif.
    </p>
  </div>
</section>

<section class="description">
  <p>Nous effectuons aussi des interventions de réparations et de remplacements et ce dans des délais très courts. Remplacement de serrures, réparation ou remise en état de menuiseries, remplacement de vitrages.
  </p>
</section>
<% include layout/footer %>