<% include layout/head %>

</header>

<p class="maintenance">Maintenance en cours</p>

<h1 class="maintenance-title">Oops, site inaccessible!</h1>

<p class="maintenance-description">
  Désolé pour le désagrément mais nous effectuons une maintenance pour le moment. Si vous avez besoin, vous pouvez toujours nous suivre sur <a href="https://www.facebook.com/renovfermetures1/" class="creator" target="_blank">facebook</a>, sinon nous serons rapidement de retour en ligne!
</p>


<% include layout/footer %>