<% include layout/head %>

<% include layout/nav %>

</header>

<h1>Mentions Légales</h1>

<section class="mentions-legales">
  <p>
    En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site Rénov' Fermetures l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
  </p>

  <h3>Propriétaire du site :</h3>
  <p>Adrien Giraud Menuiserie</p>
  <p>Rénov' Fermetures</p>
  <p>RCS Aubenas</p>
  <p>SIRET : 79024274700034</p>
  <p>Travaux de menuiserie bois et pvc (code APE : 4332A)</p>
  <p>Siège social : Le Ginestet, 07110 LARGENTIERE</p>

  <h3>Responsable de publication :</h3>
  <p>M. Adrien GIRAUD</p>

  <h3>Réalisation du site :</h3>
  <p>SARL Agence Radium</p>
  <p>Pôle de services numériques, 7 route de lamastre 07300 Tournon-sur-Rhône</p>
  <p><a href="http://agence-radium.fr" class="creator" target="_blank">www.agence-radium.fr</a></p>

  <h3>Hébergement :</h3>
  <p>SAS OVH – 2 rue Kellermann - 59100 Roubaix – France</p>

  <h3>Propriété intellectuelle :</h3>
  <p>
    La structure générale du site Rénov' Fermetures ainsi que les textes, graphiques, images, sons et vidéos la composant, sont la propriété de la société Rénov' Fermetures. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ce site, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de la société Rénov' Fermetures interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.
  </p>
</section>

<% include layout/footer %>