<% include layout/head %>

<% include layout/nav %>

</header>

<section class="avant-apres">
	<article>
		<h1>Portes d'entrée et portes de service en PVC</h1>
		<div class="galerie">
			<img src="/public/images/avant-apres/pvc-p-01.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-p-02.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-p-04int.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-p-04ext.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-p-05.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-p-06.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-p-07.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/pvc-p-03.jpg" class="large" alt="Avant-Après">
		</div>
		
		<a href="/pvc" class="retour_cat">Retour à la catégorie "PVC"</a>
	</article>
</section>

<% include layout/footer %>