<% include layout/head %>

<% include layout/nav %>

</header>

<section class="avant-apres">
	<article>
		<h1>Portes de garage en acier</h1>
		<div class="galerie">
			<img src="/public/images/avant-apres/acier-pg-01.jpg" class="large" alt="Avant-Après">
		</div>

		<a href="/acier" class="retour_cat">Retour à la catégorie "Acier"</a>
	</article>
</section>

<% include layout/footer %>