<% include layout/head %>

<% include layout/nav %>

</header>

<section class="avant-apres">
	<article>
		<h1>Portes en bois</h1>
		<div class="galerie">
			<img src="/public/images/avant-apres/bois-p-05.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/bois-p-04.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/bois-p-03.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/bois-p-06.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/bois-p-02.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/bois-p-01.jpg" class="large" alt="Avant-Après">
		</div>

		<a href="/bois" class="retour_cat">Retour à la catégorie "Bois"</a>
	</article>
</section>

<% include layout/footer %>