<% include layout/head %>

<% include layout/nav %>

</header>

<section class="avant-apres">
	<article>
		<h1>Portes d'entrée en aluminium</h1>
		<div class="galerie">
			<img src="/public/images/avant-apres/alu-p-06.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-p-05ext.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-p-05int.jpg" class="large" alt="Avant-Après">
			<img  src="/public/images/avant-apres/alu-p-04.jpg" class="large" alt="Avant-Après">
			<img  src="/public/images/avant-apres/alu-p-03.jpg" class="large" alt="Avant-Après">
			<img  src="/public/images/avant-apres/alu-p-02.jpg" class="large" alt="Avant-Après">
			<img  src="/public/images/avant-apres/alu-p-01.jpg" class="large" alt="Avant-Après">
		</div>

		<a href="/alu" class="retour_cat">Retour à la catégorie "Alu"</a>
	</article>
</section>

<% include layout/footer %>