<% include layout/head %>

<% include layout/nav %>

</header>

<section class="categorie-description">
  <img src="/public/images/categories/pvc.jpg" alt="Menuiseries Bois">

  <article>
    <h1>Le PVC</h1>

    <p>
      Nous vous proposons des Menuiseries PVC tous coloris, sur-mesure, avec vitrage isolant et une garantie fabricant pouvant aller jusqu'à 15 ans.
    </p>

    <p>
      Tous types de pose, en rénovation comme en neuf, avec une finition intérieure et extérieure soignée, étanchéité dans le respect des normes en vigueur.
    </p>

    <p>
      Tous nos produits d'isolation entrent dans le cadre du crédit d'impôt et notre qualification RGE nous permet de vous faire bénéficier des aides de l'état à la rénovation énergétique.
    </p>

    <p>
      Détails : Portes d'entrée, fenêtres, Portail, Volets et persiennes
    </p>
  </article>
</section>

<section class="categorie-specifications">
  <article>
    <i class="fa fa-2x fa-columns"></i>
    <h3>Type de vitrage</h3>
    <p>Double vitrage isolant de 24 à 28 mm, anti-effraction, phonique, décoratif</p>
  </article>

  <article>
    <i class="fa fa-2x fa-paint-brush"></i>
    <h3>Coloris</h3>
    <p>Possibilité de colorations différentes entre l'intérieur et l'extérieur </p>
    <div class="plaquette">
      <a href="javascript:void(0)" data-src="/public/images/categories/plaquette-coloris.jpg"><i class="fa fa-file-image-o"></i> Plaquette coloris</a>
    </div>
  </article>
  
  <article>
    <i class="fa fa-2x fa-object-group"></i>
    <h3>Formes</h3>
    <p>Découvrez toutes les formes disponibles</p>
    <div class="plaquette">
      <a href="javascript:void(0)" data-src="/public/images/categories/plaquette-formes.jpg"><i class="fa fa-file-image-o"></i> Plaquette formes</a>
    </div>
  </article>
</section>

<section class="categorie-galeries">
  <h3 class="categorie-titre">Réalisations</h3>
  <div class="categorie-sepa"></div>

  <article>
    <a href="/pvc/fenetres">
      <img src="/public/images/sous-categories/pvc-f.jpg" alt="Fenêtres PVC">
      <p>Fenêtres</p>
    </a>

    <a href="/pvc/portes-entree">
      <img src="/public/images/sous-categories/pvc-p.jpg" alt="Portes d'entrée PVC">
      <p>Portes d'entrée</p>
    </a>
    
    <a href="/pvc/volets">
      <img src="/public/images/sous-categories/pvc-v.jpg" alt="Volets PVC">
      <p>Volets</p>
    </a>
  </article>
</section>

<section class="partenaires">
  <h3 class="categorie-titre">Fabricants</h3>
  <div class="categorie-sepa"></div>
  <section class="fournisseurs">
  	<a href="http://www.poralumenuiseries.com/" target="_blank"><img src="public/images/logos/logo-poralu.png" alt="PoraluMenuiserie_fabricant_pvc"></a>
  </section>
</section>

<% include layout/footer %>