<% include layout/head %>

<% include layout/nav %>

</header>

<section class="avant-apres">
	<article>
		<h1>Volets en PVC</h1>
		<div class="galerie">
			<img src="/public/images/avant-apres/pvc-v-01.jpg" class="large" alt="Avant-Après">
		</div>

		<a href="/pvc" class="retour_cat">Retour à la catégorie "PVC"</a>
	</article>
</section>

<% include layout/footer %>