<% include layout/head %>

<% include layout/nav %>

</header>

<section class="avant-apres">
	<article>
		<h1>Volets en aluminium</h1>
		<div class="galerie">
			<img src="/public/images/avant-apres/alu-v-01.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-v-02.jpg" class="large" alt="Avant-Après">
			<img src="/public/images/avant-apres/alu-v-03.jpg" class="large" alt="Avant-Après">
		</div>

		<a href="/alu" class="retour_cat">Retour à la catégorie "Alu"</a>
	</article>
</section>

<% include layout/footer %>