* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
#blackout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.9);
  text-align: center;
}
#blackout img {
	max-width: 100%;
}
#blackout i {
	display: block;
	position: absolute;
}
#blackout i:hover {
	cursor: pointer;
}
.blackout-close {
	top: 1em;
	right: 1em;
	color: #D00418;
}
.blackout-prec {
	color: #fff;
	top: 50%;
	left: 1em;
}
.blackout-next {
	color: #fff;
	top: 50%;
	right: 1em;
}

.e404 {
	display: block;
	position: relative;
	float: left;
	width: 90%;
	margin: 5% 5% 0 5%;
	text-align: center;
	font-size: 10em;
	font-weight: bold;
	color: rgba(0,0,0,0.9);
}
.maintenance {
	display: block;
	position: relative;
	float: left;
	width: 90%;
	margin: 5%;
	text-align: center;
	font-size: 5em;
	font-weight: bold;
	color: rgba(0,0,0,0.9);
}
.e404-title, .maintenance-title {
	display: block;
	position: relative;
	float: left;
	width: 90%;
	margin: 0 5% 2.5% 5%;
	text-align: center;
}
.e404-description {
	display: block;
	position: relative;
	float: left;
	width: 90%;
	margin: 0 5% 1% 5%;
	text-align: center;
	font-size: 1.15em;
	line-height: 1.75em;
}
.maintenance-description {
	display: block;
	position: relative;
	float: left;
	width: 60%;
	margin: 0 20% 1% 20%;
	text-align: center;
	font-size: 1.15em;
	line-height: 1.75em;
}
.flash {
    display: block;
    float: left;
    width: 100%;
    line-height: 2em;
    padding: 2.5%;
    font-weight: bold;
    color: #fff;
}
.flash-ok {
    background-color: rgb(26, 156, 42);
}
.flash-no {
    background-color: rgb(206, 10, 26);
}
.flash .fa-close {
    float: right;
    line-height: 2em;
    cursor: pointer;
}

/* Header */
header {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}
header .logo {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
}
.logo img.logo-large, .logo img.logo-small {
    max-width: 100%;
}
.logo img.logo-small {
	display: none;
}

nav {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	box-shadow: 0 1px 5px #000;
	z-index: 999;
}
nav ul {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 10%;
	background-color: #bdc3c7;
}
.liens {
	list-style: none;
}
nav>ul>.liens {
	display: block;
	position: relative;
	float: left;
	width: 16.6667%;
	height: 100%;
	}
nav a {
	display: inline-block;
	position: relative;
	float: left;
	width: 100%;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.33em;
	color: #000;
	text-transform: uppercase;
	border-bottom: solid 2px transparent;
}
nav a:hover {
	color: #D00418;
	border-bottom: solid 2px #D00418;
}
.liens>ul {
	display: none;
	height: auto;
}
.liens:hover>ul {
	display: block;
}
.nav-icon {
	display: none;
}

h1 {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	margin: 5% 0;
}


/* Accueil */
.slogan {
	margin: 0 0 2.5% 0;
	width: 100%;
	font-size: 1.75em;
	text-align: center;
	font-weight: lighter;
}

.owl-carousel {
	float: left;
	width: 73% !important;
	margin: 5% 13.5% 2.5% 13.5%
}

.description {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	margin-top: 2.5%;
}
.description p {
	display: block;
	position: relative;
	float: left;
	width: 66%;
	margin: 0 16.6667% 1% 16.6667%;
	font-size: 1.15em;
	line-height: 1.75em;
	text-align: justify;
}

.labels {
	display: flex;
	display: -webkit-flex;
	position: relative;
	float: left;
	width: 66%;
	margin: 2.5% 16.6667%;
	align-items: center;
}
.label-logo {
	display: block;
	position: relative;
	float: left;
	width: 25%;
	order: 1;
}
.label-logo img {
	width: 100%;
}
.labels:nth-child(2n) .label-logo {
	order: 3;
}
.label-description h3, .label-description p {
	display: block;
	float: left;
	width: 97.5%;
	margin-left: 2.5%;
}
.labels a {
	color: #D00418;
}
.label-description {
	display: block;
	position: relative;
	float: left;
	width: 75%;
	order: 2;
}
.label-description p {
	font-size: 1.15em;
}
.label_qualibat .label-logo img{
	width: 50%;
}


/* Catégories */
.contact-description {
	display: block;
    position: relative;
    float: left;
    width: 66%;
    margin: 5% 16.6667% 2.5% 16.6667%;
    font-size: 1.15em;
    line-height: 1.75em;
    text-align: justify;
}
.categorie-description, .categorie-galeries{
	display: block;
	position: relative;
	float: left;
	width: 80%;
	margin: 0 10%;
	font-size: 1.15em;
	line-height: 1.75em;
	text-align: justify;
}
.categorie-description>img {
	display: block;
	position: relative;
	float: left;
	width: 50%;
	margin-top: 15%;
	margin-bottom: 5%;
}
.categorie-description>article {
	display: block;
	position: relative;
	float: left;
	width: 50%;
	margin-top: 7.5%;
	background-color: #fff;
	box-shadow: 0 0 25px 1px #000;
	border-radius: 3px;
	padding: 2.5% 5%;
	transform: translateX(-5%);
}
.categorie-description h1 {
	font-size: 1.75em;
	font-weight: normal;
	text-transform: uppercase;
	color: #333;
}
.categorie-description p {
	font-weight: lighter;
}
.categorie-specifications {
	display: flex;
	position: relative;
	float: left;
	width: 100%;
	padding: 5% 10%;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-around;
	background-color: #eee;
}
.categorie-specifications>article {
	display: block;
	position: relative;
	float: left;
	width: 20%;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 25px 1px #000;
	border-radius: 3px;
	padding: 2.5%;
}
.categorie-specifications h3 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}
.categorie-specifications p {
	font-weight: lighter;
	margin-top: 1.5em;
	margin-bottom: 0;
}
.categorie-specifications a {
	text-decoration: none;
	font-weight: normal;
	color: #777;
}
.categorie-specifications a:hover {
	color: #D00418;
}
.categorie-specifications i {
	color: #D00418;
}
.plaquette {
	width: 100%;
    margin-top: 0.5em;
}
.plaquette a {
    font-size: 0.9em;
	text-transform: uppercase;
	color: #D00418;
}
.categorie-titre {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 5%;
}
.categorie-sepa {
	display: block;
	position: relative;
	float: left;
	width: 50%;
	height: 1px;
	border-bottom: solid 1px #888;
	margin: 0 25%;
	margin-bottom: 1.5em;
}
.categorie-galeries>article {
	display: flex;
	position: relative;
	float: left;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
}
.categorie-galeries>article a {
    display: block;
    position: relative;
    width: 24%;
}
.categorie-galeries>article img {
    display: block;
    position: relative;
    width: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(75%);
	transition: all 0.5s;
}
.categorie-galeries>article a:hover img {
	filter: none;
	-webkit-filter: grayscale(0%);
}
.categorie-galeries>article p {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #D00418;
    padding: 0.5em;
    text-transform: uppercase;
}

.fournisseurs {
	display: flex;
	display: -webkit-flex;
	position: relative;
	float: left;
	width: 73%;
	margin: 1% 13.5% 2.5% 13.5%;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	align-items: center;
}
.fournisseurs a {
	-webkit-flex: 1;
	flex: 1;
}
.fournisseurs a img {
	display: block;
	width: auto;
	max-height: 100px;
	margin: 0 auto;
}

.sous-categories {
	display: flex;
	display: -webkit-flex;
	position: relative;
	float: left;
	width: 73%;
	margin: 5% 13.5% 2.5% 13.5%;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}
.sous-categories a {
	display: block;
	position: relative;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	-webkit-flex: 1;
	flex: 1;
}
.sous-categories a:hover {
	color: #D00418;

}
.sous-categories a img {
	display: block;
	position: relative;
	width: 175px;
	margin: 0 auto;
}


/* Sous-Catégories */
.avant-apres {
	display: block;
	position: relative;
	float: left;
	width: 80%;
	margin: 0 10%;
	font-size: 1.15em;
	line-height: 1.75em;
	text-align: justify;
}
.avant-apres>article {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}
.avant-apres h1 {
	width: 96.6667%;
	margin: 7.5% 1.6667% 2.5% 1.6667%;
	font-size: 1.75em;
	font-weight: normal;
	text-transform: uppercase;
	color: #333;
	border-bottom: solid 2px #333;
}
.galerie {
	display: flex;
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 5%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.avant-apres img {
	display: block;
	position: relative;
	width: 30%;
	margin: 1.6667%;
}
.avant-apres img:hover {
	cursor: pointer;
}
.avant-apres a {
	display: block;
	position: relative;
	float: left;
	margin-left: 50%;
	padding: 1em;
	background-color: #D00418;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	transform: translateX(-50%);
	border-radius: 3px;
}
.avant-apres a:hover {
	cursor: pointer;
}



/* Contact */
#formulaire-contact {
	display: block;
	position: relative;
	float: left;
	width: 66%;
	margin: 0 16.6667% 1% 16.6667%;
}

.ligne-formulaire {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	font-size: 1.15em;
	line-height: 1.75em;
}
.ligne-formulaire label {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}
.ligne-formulaire input[type="text"] {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	font-size: 1.15em;
	line-height: 1.75em;
	margin-bottom: 1%;
}
.ligne-formulaire input[type="email"] {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	font-size: 1.15em;
	line-height: 1.75em;
	margin-bottom: 2.5%;
}
.ligne-formulaire textarea {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	font-size: 1.15em;
	line-height: 1.75em;
	margin-bottom: 1%;
	resize: none;
}

.ligne-bouton {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	font-size: 1.15em;
	line-height: 1.75em;
	margin-bottom: 2.5%;
	text-align: center;
}
.bouton-formulaire {
	border: none;
	background: transparent;
	padding: 0.5% 5%;
	margin-top: 1.5%;
	font-size: 1em;
	font-family: inherit;
	border: solid 1px #000;
}
.bouton-formulaire:hover {
	border: solid 1px #D00418;
	color: #D00418;
	cursor: pointer;
}


/* Mentions Légales */
.mentions-legales {}
.mentions-legales h3 {}
.mentions-legales p {}
.mentions-legales a {}


/* Footer */
footer {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	margin-top: 2.5%;
	background-color: #bdc3c7;
}
.f_coordonnees_mobile {
	display: none;
}
.f_informations, .f_coordonnees {
	display: block;
	position: relative;
	float: left;
	margin-bottom: 2.5%;
}
.f_informations {
	width: 47.5%;
	margin-left: 12.5%;
	margin-right: 2.5%;
}
.f_coordonnees {
	width: 22.5%;
	margin-left: 2.5%;
	margin-right: 12.5%;
}
.f_informations h3, .f_coordonnees h3, .f_coordonnees_mobile h3 {
	padding-left: 2.5%;
	margin-bottom: 0.75em;
}
.separation {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 1px;
	border-bottom: solid 1px #000;
	margin-bottom: 1.5em;
}
.f_informations p, .f_coordonnees p, .f_coordonnees_mobile p {
	padding-left: 2.5%;
	margin-bottom: 0;
}
footer p i {
	margin-right: 1%;
}
footer p a:hover i {
	color: #D00418;
}
.f_informations a, .f_coordonnees a, .f_coordonnes_mobile a {
	color: #000;
}
.creator {
	color: #D00418 !important;
	text-decoration: none;
}
.mentions-legales {
	display: block;
	position: relative;
	float: left;
	width: 66%;
	margin: 2.5% 16.6667%;
}

/* Media Queries */

@media screen and (max-width: 480px) {
	h1 {
		width: 97.5%;
		margin: 5% 0 2.5% 2.5%;
	}
	.slogan {
    	font-size: 1.25em;
	}
	.e404, .maintenance{
    	font-size: 2em;
	}
	.e404-title, .maintenance-title {
		font-size: 1.5em;
	}
	.e404-description, .maintenance-description {
	    width: 90%;
	    margin: 5% 5% 1% 5%;
	    text-align: justify;
	}
	/* header */
	.logo img.logo-large {
		display: none;
	}
	.logo img.logo-small {
		display: inline-block;
	}
	.liens:hover>ul {
		display: none;
	}
	nav {
	    height: auto;
    	overflow: hidden;
	}
	nav a {
		font-size: 1.15em;
	}
	nav ul {
		padding: 0;
	}
	nav>ul li.liens:not(:first-child) {
		display: none;
	}
	nav>ul>.liens {
		width: 100%;
	}
	nav>ul li.nav-icon {
		display: inline-block;
		float: right;
    	z-index: 9999;
	}
	ul.topnav li.nav-icon {
		position: absolute;
		width: 15%;
		top: 0;
		right: 0;
	}
	ul.topnav.responsive li {
		display: block !important;
		float: left;
		border-bottom: solid 1px rgba(0,0,0,0.5);
	}
	ul.topnav.responsive li a {
		display: block;
	}
	/* accueil */
	.description p, .label-description h3, .label-description p {
		width: 90%;
		margin: 0 5% 2.5% 5%;
	}
	.labels {
		display: block;
		width: 100%;
		margin: 5% 0;
	}
	.label-logo {
		width: 100%;
		text-align: center;
	}
	.label-logo img {
		width: 50%;
	}
	.label-description {
		width: 100%;
	}
	.f_coordonnees_mobile {
		display: block;
		position: relative;
		float: left;
	}
	.f_informations, .f_coordonnees_mobile {
		width: 90%;
		margin: 0 5% 5% 5%;
		text-align: center;
	}
	.f_coordonnees {
		display: none;
	}
	.f_informations h3, .f_coordonnees_mobile h3, .f_informations p, .f_coordonnees_mobile p {
		padding: 0;
	}
	/* contact */
	#formulaire-contact, .contact-description {
		width: 90%;
		margin: 2.5% 5% 1% 5%;
	}
	/* sous-categories */
	.categorie-description {
		width: 90%;
		margin: 0 5% 1% 5%;
	}
	.categorie-description>img, .categorie-description>article {
		width: 100%;
		transform: translateX(0%);
		box-shadow: none;
	}
	.categorie-description>article h1 {
		margin: 5% 0;
		font-size: 1.5em; 
	}
	.categorie-description>article p {
		font-size: 1em; 
	}
	.categorie-specifications {
	    flex-direction: column;
	}
	.categorie-specifications>article {
		width: 100%;
		padding: 5%;
		margin: 5% 0;
	}
	.categorie-titre {
		margin-bottom: 1%;
	}
	.categorie-galeries>article {
		flex-direction: column;
	}
	.categorie-galeries>article a {
	    width: 100%;
        margin: 5% 0;
	}
	.categorie-galeries>article p {
		top: 66%;
	}
	/* sous-categories */
	.sous-categories {
		flex-direction: column;
	}
	.sous-categories a, .fournisseurs a {
		margin: 0 auto 5% auto;
    	flex-basis: 50%;
	}
	.avant-apres {
		display: block;
		width: 90%;
		margin: 0 5% 1% 5%;
	}
	.avant-apres h1 {
	    font-size: 1em;
	}
	.galerie {
		flex-direction: column;
	}
	.avant-apres img {
		width: 100%;
		margin: 2.5% 0; 
	}
	.avant-apres a {
		font-size: 0.75em;
	    width: 85%;
	    margin-left: 7.5%;
	    text-align: center;
	    transform: translateX(0%);
	}
	.blackout-prec, .blackout-next {
	    top: 85%;
	}

}

@media screen and (min-width: 480px) and (max-width: 1024px) {
	h1 {
		width: 97.5%;
		margin: 5% 0 2.5% 2.5%;
	}
	.slogan {
    	font-size: 1.25em;
	}
	.e404, .maintenance{
    	font-size: 2em;
	}
	.e404-title, .maintenance-title {
		font-size: 1.5em;
	}
	.e404-description, .maintenance-description {
	    width: 90%;
	    margin: 5% 5% 1% 5%;
	}
	/* header */
	.logo img.logo-large {
		display: none;
	}
	.logo img.logo-small {
		display: inline-block;
	}
	.liens:hover>ul {
		display: none;
	}
	nav a {
		font-size: 1.15em;
	}
	/* accueil */
	.description p {
		width: 90%;
		margin: 0 5% 2.5% 5%;
	}
	.labels {
		width: 90%;
		margin: 2.5% 5%;
	}
	.label-logo {
		width: 33%;
		text-align: center;
	}
	.label-description {
		width: 67%;
	}
	.f_informations {
		width: 55%;
		margin-left: 5%;
	}
	.f_coordonnees {
		width: 30%;
		margin-right: 5%;
	}
	/* contact */
	#formulaire-contact, .contact-description {
		width: 90%;
		margin: 2.5% 5% 1% 5%;
	}
	/* sous-categories */
	.categorie-description {
		width: 90%;
		margin: 0 5% 1% 5%;
	}
	.categorie-description>img, .categorie-description>article {
		width: 100%;
		transform: translateX(0%);
		box-shadow: none;
		margin-top: 5%;
	}
	.categorie-description>article h1 {
		margin: 5% 0;
		font-size: 1.5em; 
	}
	.categorie-description>article p {
		font-size: 1em; 
	}
	.categorie-specifications {
        flex-wrap: wrap;
	}
	.categorie-specifications>article {
		width: 45%;
		padding: 5%;
		margin: 5% 2.5%;
	}
	.categorie-titre {
		margin-bottom: 1%;
	}
	.categorie-galeries>article {
		flex-wrap: wrap;
	}
	.categorie-galeries>article a {
	    width: 45%;
        margin: 5% 2.5%;
	}
	.categorie-galeries>article p {
		top: 66%;
	}
	/* sous-categories */
	.sous-categories {
		flex-direction: column;
	}
	.sous-categories a, .fournisseurs a {
		margin: 0 auto 5% auto;
    	flex-basis: 50%;
	}
	.avant-apres {
		display: block;
		width: 90%;
		margin: 0 5% 1% 5%;
	}
	.avant-apres h1 {
		font-size: 1.25em;
	}
	.avant-apres img {
		width: 45%;
		margin: 2.5%; 
	}
	.blackout-prec, .blackout-next {
	    top: 85%;
	}
}
