<footer>
  <div class="f_coordonnees_mobile">
    <h3>Coordonnées</h3>
    <div class="separation"></div>
    <p>Rénov' Fermetures</p>
    <p>Quartier Le Ginestet</p>
    <p>07110 Largentière</p>
    <p><i class="fa fa-phone"></i>06 87 15 55 08</p>
  </div>
  <div class="f_informations">
    <h3>Informations</h3>
    <div class="separation"></div>
    <p><a href="https://www.facebook.com/renovfermetures1/" target="_blank"><i class="fa fa-facebook"></i>Notre actu sur Facebook</a></p>
    <p><a href="/mentions-legales">Mentions Légales</a></p>
    <p>&copy; Rénov' Fermetures - 2016</p>
    <p>Créé par <a href="http://agence-radium.fr" class="creator" target="_blank">Agence Radium</a></p>
  </div>
  <div class="f_coordonnees">
    <h3>Coordonnées</h3>
    <div class="separation"></div>
    <p>Rénov' Fermetures</p>
    <p>Quartier Le Ginestet</p>
    <p>07110 Largentière</p>
    <p><i class="fa fa-phone"></i>06 87 15 55 08</p>
  </div>
  <script src="/public/js/jquery-2.2.3.min.js"></script>
  <script src="/public/js/nav.js"></script>
  <script src="/public/js/lightbox.js"></script>
  <script src="/public/js/flash-message.js"></script>
  <script src="/public/js/owl.carousel.min.js"></script>
  <script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      loop:true,
      margin: 20,
      autoplay:true,
      autoplayTimeout:2500,
      autoplayHoverPause:true,
      responsiveClass:true,
      responsive:{
          0:{
              items:1
          },
          1024:{
              items:3
          }
      }
    });
  });
  </script>
</footer>

</body>
</html>