<!doctype html>
<html lang="fr">
<head>
    <link rel="icon" type="image/png" href="/public/images/favicon.png" />
  	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="Le spécialiste de la rénovation pour vos menuiseries, Rénov' Fermetures, entreprise RGE, implantée à Largentière dans l'Ardèche, vous propose la fourniture et la pose de toutes vos menuiseries : portes, fenêtres, portails, garage, volets." />
  	<title>Rénov' Fermetures-menuiserie Ardèche-Largentière-pose et rénovation 07</title>
    <link rel="stylesheet" href="/public/css/style.css">
  	<link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.css">

 </head>

<body>

<header>
  <% if (ok.length > 0) { %>
    <div class="flash flash-ok">
      <%= ok %>
      <i class="fa fa-close" onclick="RemoveFlash()"></i>
    </div>
  <% } %>

  <% if (no.length > 0) { %>
    <div class="flash flash-no">
      <%= no %>
      <i class="fa fa-close" onclick="RemoveFlash()"></i>
    </div>
  <% } %>

  <div class="logo">
    <img src="/public/images/logo-renov-mobile.png" class="logo-small" valt="Rénov' Fermetures">
    <img src="/public/images/logo-renov.png" class="logo-large" alt="Rénov' Fermetures">

  </div>

  <h1 class="slogan">Le spécialiste de la rénovation pour vos menuiseries</h1>
  