<nav>
  <ul class="topnav">
    <li class="liens"><a href="/">Accueil</a></li>
    <li class="liens"><a href="/bois">Bois</a></li>
    <li class="liens"><a href="/pvc">PVC</a></li>
    <li class="liens"><a href="/alu">Alu</a></li>
    <li class="liens"><a href="/acier">Acier</a></li>
    <li class="liens"><a href="/contact">Contact</a></li>
    <li class="nav-icon">
      <a href="javascript:void(0);" onclick="ResponsiveNav()"><i class="fa fa-bars"></i></a>
    </li>
  </ul>
</nav>